@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');



body {
  font-family: 'Hedvig Letters Sans', sans-serif;
  margin: 0px;
}

.container {
  border: 2px black solid;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setup {
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.user-info {
  width: 50rem;
  height: 30rem;
  /* border: 2px red solid; */
  display: flex;
  gap:3rem;
}

.user {
  flex: 0 1 50%;
  display: grid;
  grid-template-rows: 2fr 3fr 2fr;
  gap: 5rem;
  box-shadow: 10px 10px black;
}

.one {
  border: 2px red solid;
}

.two{
  border: 2px blue solid;
}

.header, .mark-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;;
}


.name {
  display: flex;
  flex-direction: column;
  padding:3rem;
  gap:1rem;
}

.name input {
  height:1.5rem;
  box-shadow: 5px 10px black;
}

.play {
  height: 3rem;
  width: 7rem;
  background-color: green;
  color:white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  

}

.playBtn {
  box-shadow: 10px 10px black;
  height: 3rem;
  width: 7rem;
  border: none;
  border-radius: 10px;
}


.play:hover {
  transition: 0.1s ease-in-out;
  background-color: rgb(3, 145, 3);
}

.play:active {
  transform: translate(10px, 10px);
  transition: 0.05s ease-in-out;
  background-color: rgb(0, 82, 0);
}

.game {
  height: 100vh;
  width: 100vw;
  border: 3px black solid;
  visibility: hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem
}


.turn-display {
  border: 3px green solid;
  height: 5rem;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-shadow: 10px 10px black;

}

.board {
  border: 4px grey solid;
  height: 30rem;
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  box-shadow: 10px 10px black;

}

.tile {
  border: 2px grey solid;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
